<a href="https://colab.research.google.com/github/krishnatejavv/25DaysInMachineLearning/blob/master/corona_virus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files

uploaded = files.upload()

Saving 2019_nCoV_data.csv to 2019_nCoV_data (1).csv

In [0]:
import pandas as pd

In [0]:
data =pd.read_csv("/content/2019_nCoV_data.csv")
data.head(100)

    Sno Province/State         Country  ... Confirmed  Deaths  Recovered
0     1          Anhui           China  ...       1.0     0.0        0.0
1     2        Beijing           China  ...      14.0     0.0        0.0
2     3      Chongqing           China  ...       6.0     0.0        0.0
3     4         Fujian           China  ...       1.0     0.0        0.0
4     5          Gansu           China  ...       0.0     0.0        0.0
..  ...            ...             ...  ...       ...     ...        ...
95   96         Fujian  Mainland China  ...      10.0     0.0        0.0
96   97          Henan  Mainland China  ...       9.0     0.0        0.0
97   98        Jiangsu  Mainland China  ...       9.0     0.0        0.0
98   99         Hainan  Mainland China  ...       8.0     0.0        0.0
99  100        Tianjin  Mainland China  ...       8.0     0.0        0.0

[100 rows x 7 columns]

In [0]:
data.describe

<bound method NDFrame.describe of      Sno Province/State               Country  ... Confirmed  Deaths  Recovered
0      1          Anhui                 China  ...       1.0     0.0        0.0
1      2        Beijing                 China  ...      14.0     0.0        0.0
2      3      Chongqing                 China  ...       6.0     0.0        0.0
3      4         Fujian                 China  ...       1.0     0.0        0.0
4      5          Gansu                 China  ...       0.0     0.0        0.0
..   ...            ...                   ...  ...       ...     ...        ...
429  430            NaN               Finland  ...       1.0     0.0        0.0
430  431            NaN  United Arab Emirates  ...       4.0     0.0        0.0
431  432            NaN           Philippines  ...       1.0     0.0        0.0
432  433            NaN                 India  ...       1.0     0.0        0.0
433  434            NaN                 Italy  ...       2.0     0.0        0.0

[434 rows x 7 columns]>

In [0]:
data.drop(columns=['Sno'])

    Province/State               Country  ... Deaths  Recovered
0            Anhui                 China  ...    0.0        0.0
1          Beijing                 China  ...    0.0        0.0
2        Chongqing                 China  ...    0.0        0.0
3           Fujian                 China  ...    0.0        0.0
4            Gansu                 China  ...    0.0        0.0
..             ...                   ...  ...    ...        ...
429            NaN               Finland  ...    0.0        0.0
430            NaN  United Arab Emirates  ...    0.0        0.0
431            NaN           Philippines  ...    0.0        0.0
432            NaN                 India  ...    0.0        0.0
433            NaN                 Italy  ...    0.0        0.0

[434 rows x 6 columns]

In [0]:
data.groupby(['Country'])[['Last Update','Province/State']].sum()

                                                            Last Update
Country
Australia             1/23/20 12:00 PM1/25/2020 12:00 PM1/26/2020 23...
Brazil                                                 1/23/20 12:00 PM
Cambodia              1/27/2020 20:301/28/2020 23:001/29/2020 21:001...
Canada                1/26/2020 23:001/27/2020 20:301/28/2020 23:001...
China                 1/22/2020 12:001/22/2020 12:001/22/2020 12:001...
Finland                                  1/29/2020 21:001/30/2020 21:30
France                1/24/2020 4:00 PM1/25/2020 12:00 PM1/26/2020 2...
Germany               1/27/2020 20:301/28/2020 23:001/29/2020 21:001...
Hong Kong             1/23/20 12:00 PM1/24/2020 12:00 PM1/25/2020 12...
India                                                   1/30/2020 21:30
Italy                                                   1/30/2020 21:30
Ivory Coast                                             1/27/2020 20:30
Japan                 1/22/2020 12:001/23/20 12:00 PM1/24/2020 12:00...
Macau                 1/23/20 12:00 PM1/24/2020 12:00 PM1/25/2020 12...
Mainland China        1/23/20 12:00 PM1/23/20 12:00 PM1/23/20 12:00 ...
Malaysia              1/23/20 12:00 PM1/25/2020 12:00 PM1/26/2020 23...
Mexico                                                 1/23/20 12:00 PM
Nepal                 1/25/2020 12:00 PM1/26/2020 23:001/27/2020 20:...
Philippines                             1/23/20 12:00 PM1/30/2020 21:30
Singapore             1/23/20 12:00 PM1/24/2020 12:00 PM1/25/2020 12...
South Korea           1/22/2020 12:001/23/20 12:00 PM1/24/2020 12:00...
Sri Lanka             1/27/2020 20:301/28/2020 23:001/29/2020 21:001...
Taiwan                1/23/20 12:00 PM1/24/2020 12:00 PM1/25/2020 12...
Thailand              1/22/2020 12:001/23/20 12:00 PM1/24/2020 12:00...
US                    1/22/2020 12:001/23/20 12:00 PM1/24/2020 12:00...
United Arab Emirates                     1/29/2020 21:001/30/2020 21:30
Vietnam               1/23/20 12:00 PM1/24/2020 12:00 PM1/25/2020 12...

In [0]:
from datetime import date

In [0]:

data['Last Update'] = data['Last Update'].apply(pd.to_datetime)

In [0]:
data['Last Update']

0     2020-01-22 12:00:00
1     2020-01-22 12:00:00
2     2020-01-22 12:00:00
3     2020-01-22 12:00:00
4     2020-01-22 12:00:00
              ...
429   2020-01-30 21:30:00
430   2020-01-30 21:30:00
431   2020-01-30 21:30:00
432   2020-01-30 21:30:00
433   2020-01-30 21:30:00
Name: Last Update, Length: 434, dtype: datetime64[ns]

In [0]:
import seaborn as sns